## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'C:\Users\lovel\Desktop\Classwork-JG\Module06\World_Weather_Analysis\Weather_Database\WeatherPy_database.csv')
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nanortalik,GL,60.1432,-45.2371,23.88,90,100,38.63,snow
1,1,Cidreira,BR,-30.1811,-50.2056,73.92,89,100,8.03,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.06,76,100,16.98,overcast clouds
3,3,Tabou,CI,4.4230,-7.3528,78.87,80,58,1.77,broken clouds
4,4,Carnarvon,AU,-24.8667,113.6333,91.58,41,6,16.55,clear sky

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Cidreira,BR,-30.1811,-50.2056,73.92,89,100,8.03,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.06,76,100,16.98,overcast clouds
3,3,Tabou,CI,4.4230,-7.3528,78.87,80,58,1.77,broken clouds
11,11,Chuy,UY,-33.6971,-53.4616,68.38,95,100,6.78,light rain
13,13,Coxim,BR,-18.5067,-54.7600,72.54,93,100,1.72,light rain
16,16,Kapaa,US,22.0752,-159.3190,69.78,72,40,1.01,scattered clouds
17,17,Hilo,US,19.7297,-155.0900,70.79,88,100,0.00,overcast clouds
18,18,Namibe,AO,-15.1961,12.1522,74.55,63,88,4.81,overcast clouds
19,19,Bambous Virieux,MU,-20.3428,57.7575,83.21,89,75,21.85,light rain
22,22,Kavaratti,IN,10.5669,72.6420,79.47,66,30,9.57,scattered clouds

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             259
City                   259
Country                255
Lat                    259
Lng                    259
Max Temp               259
Humidity               259
Cloudiness             259
Wind Speed             259
Current Description    259
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Cidreira,BR,-30.1811,-50.2056,73.92,89,100,8.03,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.06,76,100,16.98,overcast clouds
3,3,Tabou,CI,4.4230,-7.3528,78.87,80,58,1.77,broken clouds
11,11,Chuy,UY,-33.6971,-53.4616,68.38,95,100,6.78,light rain
13,13,Coxim,BR,-18.5067,-54.7600,72.54,93,100,1.72,light rain
...,...,...,...,...,...,...,...,...,...,...
626,626,Nicoya,CR,10.1483,-85.4520,71.02,88,1,1.74,clear sky
629,629,Seminole,US,28.7086,-81.2081,66.42,91,0,3.44,clear sky
640,640,Venice,US,27.0998,-82.4543,65.05,96,40,6.91,mist
641,641,Grand Baie,MU,-20.0182,57.5802,83.44,81,100,10.00,overcast clouds
644,644,Laranjeiras Do Sul,BR,-25.4078,-52.4161,65.61,99,100,4.88,light rain

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cidreira,BR,73.92,overcast clouds,-30.1811,-50.2056,
2,Rikitea,PF,78.06,overcast clouds,-23.1203,-134.9692,
3,Tabou,CI,78.87,broken clouds,4.4230,-7.3528,
11,Chuy,UY,68.38,light rain,-33.6971,-53.4616,
13,Coxim,BR,72.54,light rain,-18.5067,-54.7600,
16,Kapaa,US,69.78,scattered clouds,22.0752,-159.3190,
17,Hilo,US,70.79,overcast clouds,19.7297,-155.0900,
18,Namibe,AO,74.55,overcast clouds,-15.1961,12.1522,
19,Bambous Virieux,MU,83.21,light rain,-20.3428,57.7575,
22,Kavaratti,IN,79.47,scattered clouds,10.5669,72.6420,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        pass
        
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cidreira,BR,73.92,overcast clouds,-30.1811,-50.2056,Hotel Castelo
2,Rikitea,PF,78.06,overcast clouds,-23.1203,-134.9692,People ThankYou
3,Tabou,CI,78.87,broken clouds,4.4230,-7.3528,hotêl doufoulougou
11,Chuy,UY,68.38,light rain,-33.6971,-53.4616,Nuevo Hotel Plaza
13,Coxim,BR,72.54,light rain,-18.5067,-54.7600,Hotel Avenida

In [26]:
import numpy as np

# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('',np.nan, inplace=True)
hotel_df.dropna().head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cidreira,BR,73.92,overcast clouds,-30.1811,-50.2056,Hotel Castelo
2,Rikitea,PF,78.06,overcast clouds,-23.1203,-134.9692,People ThankYou
3,Tabou,CI,78.87,broken clouds,4.4230,-7.3528,hotêl doufoulougou
11,Chuy,UY,68.38,light rain,-33.6971,-53.4616,Nuevo Hotel Plaza
13,Coxim,BR,72.54,light rain,-18.5067,-54.7600,Hotel Avenida

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))